.list-group-item {
    margin-bottom: 15px;
    background-color: lightgray;
    transition: 0.8s;
    box-shadow: 10px 10px 5px grey;
}

.list-group-item:hover {
    transform: translate(-10px, -10px);
}